@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Luxurious Roman', cursive;
    background-color: rgb(216, 240, 216);
}
/* banner start */
.container{
    max-width: 1200px;
    margin: 0 auto;
   
}
.banner{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.banner-info, .banner-right{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-image{
    border:4px solid #4747fa
}
/* -------------------
animation start
------------------- */


.banner-title{
    font-size: 60px;
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.banner-title::before{
    content:'Sreemangal Tour';
    position: absolute;
    top: 0;
    left: 0;
    color: #4747fa;
    animation: typing 3s ease-out infinite;
}

@keyframes typing{
    4%{
        content:'S|'
    }
    8%{
        content:'Sr|'
    }
    12%{
        content:'Sre|'
    }
    16%{
        content:'Sree|'
    }
    20%{
        content:'Sreem|'
    }
    24%{
        content:'Sreema|'
    }
    28%{
        content:'Sreeman|'
    }
    32%{
        content:'Sreemang|'
    }
    36%{
        content:'Sreemanga|'
    }
    40%{
        content:'Sreemangal|'
    }
    44%{
        content:'Sreemangal T|'
    }
    48%{
        content:'Sreemangal To|'
    }
    52%{
        content:'Sreemangal Tou|'
    }
    56%{
        content:'Sreemangal Tour|'
    }
    60%{
        content:'Sreemangal Tour.'
    }
    64%{
        content:'Sreemangal Tour..'
    }
    68%{
        content:'Sreemangal Tour...'
    }
    72%{
        content:'Sreemangal Tour....'
    }
    76%{
        content:'Sreemangal Tour....'
    }
    80%{
        content:'Sreemangal Tour...'
    }
    81%{
        content:'Sreemangal Tour..'
    }
    82%{
        content:'Sreemangal Tour.'
    }
    83%{
        content:'Sreemangal Tour|'
    }
    84%{
        content:'Sreemangal Tou|'
    }
    85%{
        content:'Sreemangal To|'
    }
    86%{
        content:'Sreemangal T|'
    }
    87%{
        content:'Sreemangal |'
    }
    88%{
        content:'Sreemangal|'
    }
    89%{
        content:'Sreemanga|'
    }
    90%{
        content:'Sreemang|'
    }
    91%{
        content:'Sreeman|'
    }
    92%{
        content:'Sreema|'
    }
    93%{
        content:'Sreem|'
    }
    94%{
        content:'Sree|'
    }
    95%{
        content:'Sre|'
    }
    96%{
        content:'Sr|'
    }
    97%{
        content:'S|'
    }
    98%{
        content:'S|'
    }
    99%{
        content:'|';
    }
    100%{
        content:'|'
    }
}
.banner-text{
    line-height: 1.5;
    margin: 20px 0;
    text-align: justify;
}
.button{
    outline: 0;
    font-size: 18px;
    padding: 10px 30px;
    background-color: #4747fa;
    color: #fff;
    border: 4px solid #4747fa;
    cursor: pointer;
    transition: .3s linear;
    border-radius: 10px;
}
.button:hover{
    background-color: transparent;
    color: #4747fa;
}
/* .button{
    background-color:  #4747fa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 50px gray;
}
.button:hover{
    background-color: #00fc61;
    transition: background-color 2s;
}
.button a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
   
} */
/* -------------------
animation end
------------------- */
.banner-right img{
    width: 510px;
    height: 380px;
    border-radius: 10px;
}
/* banner end */
/* ---------------------------- */
/* gallery start */
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
     
    
    
}
.section-title{
    text-align: center;
}
.section-title h1{
    color:#4747fa;
    font-size: 40px;
    margin: 50px 0;
    border-left: 3px solid #8989eb;
    border-right: 3px solid #8989eb;
    display: inline-block;
    padding:0 10px;
    line-height: .8;
}
.photo{
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
    
}
.photo img{
    width: 100%;
    height: 100%;
}
.border{
    background-color: #8989eb;
    position: absolute;
    transition: .7s ease-in-out;

}
.border.top, .border.bottom{
    height:4px;
    width: 270px;
}
.border.left, .border.right{
    height:270px;
    width:4px;
}
.border.top{
    top:5px;
    right:100%;
}
.border.bottom{
    bottom: 5px;
    left:100%;
}
.border.left{
    left:5px;
    top: 100%;
}
.border.right{
    right: 5px;
    bottom: 100%;
}
.photo:hover .border.top{
    right: 5px;
}
.photo:hover .border.bottom{
    left: 5px;
}
.photo:hover .border.left{
    top: 5px;
}
.photo:hover .border.right{
    bottom: 5px;
}
.photo-content{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #8989eb;
    padding-left: 30px;
    bottom: 0;
    left: 0;
    transform: translateY(400px);
    transition: .3s ease-out;
}
.photo:hover .photo-content{
    transform:translateY(235px)
}
.photo::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    top: 0;
    left: 0;
    transition: .3s linear;
}
.photo:hover::before{
    opacity: 1;
}

/* gallery end */
/* footer */
footer{
    margin-top: 50px;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer p{
    color: whitesmoke;
    text-align: center;
    
    
}
@media only screen and (max-width: 688px) {
